body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.header {
    position: relative;
    z-index: 1; 
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(107, 101, 101);
}

.header h1 {
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    margin-left: 10px;
}

.main {
    position: relative;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-image: url('./foto\ fluxo.jpg');
    background-size: 100% 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: auto;
    ;
}
.formulario label,
.formulario input,
.formulario button,
.formulario #login-buttons {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: chartreuse;
}

#remember {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
}

#remember:hover {
    background-color: #2984c0;
}


#login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password {
    color: #3498db;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}


.footer {
    
    padding: 10px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.formulario-container {
    background-color: #504c4c; 
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 60%; 
    margin: auto;
    
}

.signin-text {
    text-align: center;
    color: white;
    margin-bottom: 20px; }

.lembrar-button-container {
    display: flex;
    align-items: center;
}


#lembrar-label {
    background-color: blue; 
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

#lembrar-label:hover {
    background-color: #2984c0;
}





